do_token           = " "
do_image           = " "
do_region          = " "
do_size            = " "
do_pub_ssh          = " "
do_login           = " "
email              = " "
task               = " "
module             = " "
aws_zone           = " "
aws_access_key     = " "
aws_secret_key     = " "
aws_name           = " "
conn_type          = " "
conn_user          = " "
priv_rsa_path      = " "
temp_file_path     = " "
output_file_path   = " "
ans_temp_file_path = " "
devs             = {
  prefix1 = "my_login1"
  prefix2 = "my_login2"
  prefix3 = "my_login3"
}
