server {
        listen 80;

        root /var/www/{{ domain_name }}/html;
        index index.html index.htm index.nginx-debian.html;
        server_name {{ domain_name }} www.{{ domain_name }};

        location / {
                try_files $uri $uri/ =404;
        }
}
{# 
server {
        listen 443 ssl;
        server_name {{ domain_name }} www.{{ domain_name }};
        root /var/www/{{ domain_name }}/html;
        index index.html index.htm index.nginx-debian.html;
        ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
        #include /etc/letsencrypt/options-ssl-nginx.conf;
        #ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
} #}
