server {
        listen 80;
        listen [::]:80;

        root /var/www/{{ ansible_host }}/html;
        index index.html index.htm index.nginx-debian.html;
        server_name {{ ansible_host }} www.{{ ansible_host }};
        return 301 https://{{ ansible_host }}$request_uri;

        location / {
                try_files $uri $uri/ =404;
        }

        listen [::]:443 ssl ipv6only=on;
        listen 443 ssl;
        ssl_certificate /etc/letsencrypt/live/{{ ansible_host }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ ansible_host }}/privkey.pem;
        include /etc/letsencrypt/options-ssl-nginx.conf;
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
